.btn {

    padding: 1em 1.5em;
    color: $txt-fond-sombre;
    transition: 250ms;

    &:focus-visible {
        outline: none !important;
    }

    &--gradient {

        background-image: radial-gradient(100% 50% at 20% 10%,
                $rose-secondaire 0%,
                $violet-primaire 200%);
    }

    &--radius {
        border-radius: 2em;
    }

    &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
    }

}

.list-item {
    padding: 1.5em 1em;
    text-align: left;
    border-radius: 1em;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}


/*LOADER*/
.loader {
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    height: 100vh;
    z-index: 2;
    background-color: #ffffff;
    opacity: 0.9;
    animation: disappear 200ms $duration-spinner forwards;
    transform-origin: top;

    .spinner {
        width: 88px;
        height: 88px;
        display: grid;
        border: 7px solid #0000;
        border-radius: 50%;
        border-color: #efdbef #0000;
        animation: spinner-load 1s infinite linear;
    }

    .spinner::before,
    .spinner::after {
        content: "";
        grid-area: 1/1;
        margin: 3.5px;
        border: inherit;
        border-radius: 50%;
    }

    .spinner::before {
        border-color: #ab23fb #0000;
        animation: inherit;
        animation-duration: 0.5s;
        animation-direction: reverse;
    }

    .spinner::after {
        margin: 14px;
    }


}