h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 900;
    font-size: 6rem;
}

h2 {
    font-weight: 900;
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}


.btn {
    font-size: 1.6rem;

    &__like {
        i {
            font-size: 2rem;
            color: black;
        }
    }
}



.list-item {
    p {
        font-weight: 600;
    }
}

footer {
    font-size: 1.5rem;
}

.sticker {
    font-weight: 450;
    font-size: 1.5rem;
}

/* Responsive tablette */
@media screen and (min-width: 768px) and (max-width: 995px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.5rem;
    }
}

/* Responsive tel */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }



    .btn {
        font-size: 0.7rem;

        &__like {
            i {
                font-size: 1.5rem;
            }
        }
    }


    footer {
        font-size: 1rem;
    }

    .sticker {
        font-size: 1rem;
    }
}