@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
main .presentation, main .localisation, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .commentCaMarche .list-item {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 250ms;
}
.btn:focus-visible {
  outline: none !important;
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

/* Début Header */
header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}

h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
}

html,
body {
  counter-reset: compteur-list-fonctionnement;
  margin: 0;
  padding: 0;
}

/* Début Main */
main {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  /* Debut section localisation */
  /* Fin section localisation */
  /* Debut section presentation */
  /* Fin section presentation */
  /* Début container fonctionnement & restaurant */
  /* Fin container fonctionnement & restaurant */
  /* Début section fonctionnement */
  /*  Fin section fonctionnement */
  /* Début section Restaurant */
  /* Responsive taille d'écran classique */
  /* Responsive tablette */
  /* Responsive tel */
}
main .localisation {
  grid-template-columns: repeat(1, 1fr);
  padding: 1.5em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, rgb(234, 234, 234) 100%);
}
main .localisation i {
  padding: 0 0.5em 0 0;
}
main .presentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
main .presentation h2 {
  padding: 0 5em;
}
main .presentation p {
  padding: 1em 5em 2em;
}
main .fonctionnementRestaurantContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 50px 0px;
}
main .commentCaMarche {
  width: 100%;
  padding: 0px 30px;
}
main .commentCaMarche .list-item {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em 0;
  border-radius: 30px;
  background-color: #f6f6f6;
  box-shadow: -1px 12px 19px 4px #e2e2e2;
  margin: 1.5rem 0;
  position: relative;
  width: 100%;
}
main .commentCaMarche .list-item:hover {
  opacity: 0.8;
  background-color: #f5edff;
}
main .commentCaMarche .list-item:hover i {
  color: #9356DC;
}
main .commentCaMarche .list-item:before {
  display: grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  font-size: 1.6rem;
  color: white;
  counter-increment: compteur-list-fonctionnement;
  content: counter(compteur-list-fonctionnement);
}
main .commentCaMarche .list-item i {
  padding: 1em;
  color: #7e7e7e;
}
main .lesRestaurants {
  width: 100%;
  padding-top: 20px;
  padding: 50px 30px;
}
main .lesRestaurants ul {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  padding: 1em 0;
}
main .lesRestaurants li {
  background: #fff;
  border-radius: 1rem;
  position: relative;
  display: block;
  margin: 0.5rem 0;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.0705882353);
}
main .lesRestaurants img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
main .lesRestaurants h3,
main .lesRestaurants p {
  text-decoration: none;
  margin: 5px;
  color: black;
}
main .lesRestaurants .sticker {
  background: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
main .lesRestaurants a {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .lesRestaurants a img {
  grid-area: 1/1/4/6;
}
main .lesRestaurants a h3 {
  grid-area: 4/1/5/4;
  display: grid;
  align-items: flex-end;
  padding: 2px 0 2px 2px;
}
main .lesRestaurants a p {
  grid-area: 5/1/6/4;
  display: grid;
  align-items: flex-start;
  padding: 0 0 2px 2px;
}
main .lesRestaurants a .btn__like {
  grid-area: 4/4/6/6;
  position: relative;
  display: grid;
  align-items: center;
  transition: all 200ms ease-in-out;
}
main .lesRestaurants a .heart-hover {
  color: transparent;
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
main .lesRestaurants a .heart-hover:hover {
  opacity: 1;
  -webkit-animation: myAnim 1 s ease 0s 1 normal forwards;
          animation: myAnim 1 s ease 0s 1 normal forwards;
}
@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .lesRestaurants a i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1440px) and (max-width: 1720px) {
  main .fonctionnementRestaurantContainer {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
  main .fonctionnementRestaurantContainer .commentCaMarche {
    padding-left: 20px;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants {
    background-color: #f6f6f6;
    margin: 0;
    width: auto;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants .list-item i {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 990px) and (max-width: 1440px) {
  main .fonctionnementRestaurantContainer {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
  }
  main .fonctionnementRestaurantContainer .commentCaMarche {
    padding-left: 20px;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants {
    background-color: #f6f6f6;
    margin: 0;
    width: auto;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants .list-item i {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
  main .fonctionnementRestaurantContainer {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants {
    background-color: #f6f6f6;
    margin: 0;
    padding: 10px 30px 0 30px;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  main .presentation {
    padding: 15px;
  }
  main .fonctionnementRestaurantContainer {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  main .fonctionnementRestaurantContainer .commentCaMarche {
    width: 100%;
  }
  main .fonctionnementRestaurantContainer .commentCaMarche .list-item {
    border-radius: 20px;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants {
    background-color: #f6f6f6;
    background-color: #f6f6f6;
    margin: 0;
    width: auto;
  }
  main .fonctionnementRestaurantContainer .lesRestaurants ul {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 2rem;
    padding: 1em 0;
  }
}

/* Début footer */
footer {
  background-color: #353535;
  font-family: "Roboto", sans-serif;
  color: white;
  grid-template-columns: repeat(3, 1fr);
}
footer h2 {
  font-family: "Shrikhand", cursive;
  padding: 1.5rem;
}
footer ul,
footer li {
  padding: 0.5rem;
}
footer i {
  padding-right: 0.5rem;
}
footer a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 7rem;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

.btn {
  font-size: 1.6rem;
}
.btn__like i {
  font-size: 2rem;
  color: black;
}

.list-item p {
  font-weight: 600;
}

footer {
  font-size: 1.5rem;
}

.sticker {
  font-weight: 450;
  font-size: 1.5rem;
}

/* Responsive tel */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  .btn__like i {
    font-size: 2rem;
  }
  footer {
    font-size: 1.5rem;
  }
  .sticker {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */