/* Début Header */
header {
    @extend %grid-center;
    @include grid-template-set($header);
    padding: 1em;
}

h1 {
    @include grid-pos-set(1, auto, 1, auto);

    &.btn__retourHome {
        position: relative;

        i {
            position: absolute;
            top: 50px;
            left: 20px;
        }
    }
}