@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');
@import url('../animation.scss');
/* ../ = retour en arrière */

* {
    box-sizing: border-box;
}

html,
body {
    counter-reset: compteur-list-fonctionnement;
    margin: 0;
    padding: 0;
}

/* Début Main */
main {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;

    /* Debut section localisation */
    & .localisation {
        @extend %grid-center;
        @include grid-template-set($localisation);
        padding: 1.5em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        i {
            padding: 0 0.5em 0 0;
        }
    }

    /* Fin section localisation */


    /* Debut section presentation */
    & .presentation {
        @extend %grid-center;
        @include grid-template-set ($presentation);
        padding: 2em 0 3em;
        background: #f6f6f6;
        text-align: center;


        h2 {
            padding: 0 5em;
        }

        p {
            padding: 1em 5em 2em;
        }
    }

    /* Fin section presentation */

    /* Début container fonctionnement & restaurant */
    & .fonctionnementRestaurantContainer {
        padding: 50px 0px;
        padding-bottom: 0;
    }

    /* Fin container fonctionnement & restaurant */

    /* Début section fonctionnement */
    & .commentCaMarche {
        width: 70%;
        padding: 50px 30px;


        .list-item {
            @extend %grid-left;
            @include grid-template-set ($presentation);
            padding: 1em 0;
            border-radius: 20px;
            background-color: ($gris-light-clair);
            box-shadow: -1px 12px 19px 4px ($gris-clair);
            margin: 1.5rem 0;
            position: relative;



            &:hover {
                background-color: lighten($violet-primaire, 35%);

                i {
                    color: ($violet-primaire);
                }
            }

            &:before {
                display: grid;
                align-content: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $violet-primaire;
                border-radius: 100%;
                height: 30px;
                width: 30px;
                font-size: 1.6rem;
                color: white;
                counter-increment: compteur-list-fonctionnement;
                content: counter(compteur-list-fonctionnement);
            }

            i {
                padding: 1em;
                color: ($gris-icon);
            }

        }
    }

    /*  Fin section fonctionnement */

    /* Début section Restaurant */
    & .lesRestaurants {
        width: 100%;
        padding: 50px 30px 0 30px;

        ul {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
            row-gap: 2rem;
            padding: 1em 0;
        }

        li {
            background: #fff;
            border-radius: 1rem;
            position: relative;
            display: block;
            margin: 0.5rem 0;
            box-shadow: 0.25rem 0.25rem 0.5rem #00000012;
        }

        img {
            width: 100%;
            height: 20rem;
            border-radius: 1rem 1rem 0 0;
            box-shadow: none;
            object-fit: cover;
        }

        h3,
        p {
            text-decoration: none;
            margin: 5px;
            color: black;

        }

        .sticker {
            background: $aqua-tertiaire;
            color: $txt-fond-vert;
            padding: 0.5rem;
            border-radius: 0.125rem;
            position: absolute;
            top: 1rem;
            right: 0.75rem;
        }

        a {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            img {
                grid-area: 1 / 1 / 4 / 6;
            }

            h3 {
                grid-area: 4 / 1 / 5 / 4;
                display: grid;
                align-items: flex-end;
                padding: 2px 0 2px 2px;
            }

            p {
                grid-area: 5 / 1 / 6 / 4;
                display: grid;
                align-items: flex-start;
                padding: 0 0 2px 2px;
            }

            .btn__like {
                grid-area: 4 / 5 / 6 / 6;
                position: relative;
                display: grid;
                align-items: center;
                height: min-content;
                margin: auto;
                transition: all 200ms ease-in-out;

                .heart-away {
                    transition: all 200ms ease-in-out;
                }

                &:hover {
                    .heart-away {
                        opacity: 0;
                    }
                }

                button {
                    position: relative;

                    i {
                        top: 0;
                        right: 0;
                        font-size: 40px;
                    }
                }

                .heart-hover {
                    position: absolute;
                    color: transparent;
                    background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    opacity: 0;
                    transition: all 200ms ease-in-out;


                    &:hover {
                        opacity: 1;
                        animation: myAnim 1 s ease 0s 1 normal forwards;
                    }
                }

            }

        }
    }

    /*Page à la française*/
    & .menuDuResto {
        border-radius: 2rem 2rem 0 0;
        background-color: $gris-clair;
        z-index: 1;
        position: relative;

        .menuDuResto__cover {
            max-width: 100%;
            max-height: 20rem;
            width: 100%;
            object-fit: cover;
        }

        .menuDuResto__carte {
            margin-top: -4rem;
            border-radius: 2rem 2rem 0 0;
            background-color: #f6f6f6;
            z-index: 1;
            position: relative;
            display: flex;
            flex-direction: column;

            h2 {
                font-family: Shrikhand, "cursive";
                padding: 3rem 2rem 1rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                font-size: 2rem;

                button {
                    position: relative;

                    i {
                        top: 0;
                        right: 0;
                        font-size: 40px;
                    }

                    &:hover {
                        .heart-away {
                            opacity: 0;
                        }

                        .heart-hover {
                            opacity: 1;
                            animation: myAnim 1 s ease 0s 1 normal forwards;
                        }
                    }
                }

                .heart-away {
                    transition: all 200ms ease-in-out;
                }



                .heart-hover {
                    position: absolute;
                    color: transparent;
                    background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    opacity: 0;
                    transition: all 200ms ease-in-out;
                }


            }

            h3 {
                text-transform: uppercase;
                position: relative;
                padding: 2rem 0 0 1.5rem;
                font-weight: 400;

                &::after {
                    content: '';
                    border-bottom: 5px solid $vert-clair;
                    width: 80px;
                    display: block;
                    margin: 10px 0 0 0.1rem;
                }
            }

            ul {
                max-width: 100%;
                padding: 0 1rem;
            }

            li {
                margin: 2rem 0;
                background: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100px;
                padding: 0;
                overflow: hidden;
                opacity: 0;



                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        @include animationDelay($i * (0.2s));
                        animation-fill-mode: forwards;
                    }
                }

                h4 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.3rem;
                    font-weight: 400;
                }

                strong {
                    font-weight: 700;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding-left: 0.5rem;
                }


                .list-item-content {
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    align-items: center;
                    width: 100%;
                    padding-left: 15px;


                    h4 {
                        grid-area: 1 / 1 / 2 / 7;
                        align-self: end;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    p {
                        grid-area: 2 / 1 / 3 / 6;
                        align-self: start;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    strong {
                        grid-area: 2 / 5 / 3 / 7;
                        align-self: start;
                        padding-right: 20px;
                        font-size: 1.5rem;
                    }

                }

                .list-item-check {
                    height: 100%;
                    margin-right: -100px;
                    background-color: $vert-clair;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: 90px;
                    font-size: 2rem;
                    transition: all 1s;
                }

                &:hover {

                    .list-item-check {
                        margin-right: 0;

                        i {
                            animation: checkSpin 0.8s ease-in-out;
                        }
                    }
                }
            }


        }

        a {
            width: 200px;
            display: flex;
            justify-content: center;
            align-self: center;
            margin: 2rem 0 4rem 0;
        }
    }


}


/*LOADER*/
.loader {
    $duration-spinner: 1s;
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    height: 100vh;
    z-index: 2;
    background-color: #ffffff;
    opacity: 0.9;
    animation: disappear 200ms $duration-spinner forwards;
    transform-origin: top;

    .spinner {
        width: 88px;
        height: 88px;
        display: grid;
        border: 7px solid #0000;
        border-radius: 50%;
        border-color: #efdbef #0000;
        animation: spinner-load 1s infinite linear;
    }

    .spinner::before,
    .spinner::after {
        content: "";
        grid-area: 1/1;
        margin: 3.5px;
        border: inherit;
        border-radius: 50%;
    }

    .spinner::before {
        border-color: #ab23fb #0000;
        animation: inherit;
        animation-duration: 0.5s;
        animation-direction: reverse;
    }

    .spinner::after {
        margin: 14px;
    }


}

/*Loader disappear*/
@keyframes disappear {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

/*Spinner loader*/
@keyframes spinner-load {
    100% {
        transform: rotate(1turn);
    }
}

/* Animation Page */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}




/* Responsive taille d'écran classique */
@media screen and (min-width: 1440px) {
    .fonctionnementRestaurantContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        .commentCaMarche {
            position: sticky;
            top: 20px;
            height: min-content;
        }

        .lesRestaurants {
            background-color: $gris-light-clair;
            margin: 0;
            width: auto;
            padding: 50px 30px;

            .list-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                i {
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }

    }

    .menuDuResto__carte {
        margin: -4rem 50px 0 50px;
        padding: 0 50px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1440px) {

    .fonctionnementRestaurantContainer {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        justify-content: center;

        .commentCaMarche {
            padding-left: 20px;
        }

        .lesRestaurants {
            background-color: $gris-light-clair;
            margin: 0;
            width: auto;
            padding-top: 20px;
            padding: 50px 30px;

            .list-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                i {
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }

    }
}

/* Responsive tablette */
@media screen and (min-width: 768px) and (max-width: 995px) {
    .fonctionnementRestaurantContainer {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;

        .lesRestaurants {
            background-color: $gris-light-clair;
            margin: 0;
            padding: 50px 30px 0 30px;

            .list-item {
                width: 100%;
            }
        }
    }
}

/* Responsive tel */
@media screen and (max-width: 768px) {

    main {
        .presentation {
            padding: 15px;

            h2 {
                padding: 0 1rem;
            }

            p {
                padding: 1em 2em 2em;
            }
        }
    }

    .fonctionnementRestaurantContainer {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;

        .commentCaMarche {
            width: 100%;
            padding: 0 30px;


            .list-item {
                border-radius: 20px;
                width: 100%;

                &:before {
                    height: 15px;
                    width: 15px;
                    font-size: 0.7rem;
                }
            }
        }

        .lesRestaurants {
            background-color: $gris-light-clair;
            background-color: $gris-light-clair;
            margin: 0;
            width: auto;
            padding: 50px 20px 30px 20px;

            a {
                img {
                    height: 10rem;
                }
            }

            ul {
                display: grid !important;
                grid-template-columns: repeat(1, 1fr);
                column-gap: 2rem;
                row-gap: 0.5rem;
                padding: 1em 0;
            }

            h3 {
                margin: 15px 5px 0 5px;
            }


            p {
                margin: 0 0 15px 5px;
            }

        }
    }

    footer {
        ul {
            font-size: 1rem;
        }
    }

}

@keyframes checkSpin {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}