@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

body {
    counter-reset: compteur-list-fonctionnement;
}

/* Début Main */
main {
    font-family: 'Roboto', sans-serif;

    /* Debut section localisation */
    & .localisation {
        @extend %grid-center;
        @include grid-template-set($localisation);
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        & h2 {
            & i {
                padding: 0 0.5em 0 0;
            }
        }
    }

    /* Fin section localisation */


    /* Debut section presentation */
    .presentation {
        @extend %grid-center;
        @include grid-template-set ($presentation);
        padding: 2em 0 3em;
        background: #f6f6f6;
        text-align: center;

        & h2 {
            padding: 0 5em;
        }

        & p {
            padding: 1em 5em 2em;
        }
    }

    /* Fin section presentation */

    /* Début container fonctionnement & restaurant */
    .fonctionnementRestaurantContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lesRestaurants {}



    /* Début section fonctionnement */
    .commentCaMarche {

        margin: 1.5rem;

        & h2 {
            font-weight: 900;
            font-size: 200%;
        }

        & .list-item {
            @extend %grid-left;
            @include grid-template-set ($presentation);
            padding: 1em 0;
            border-radius: 30px 30px;
            background-color: ($gris-light-clair);
            box-shadow: -1px 12px 19px 4px ($gris-clair);
            margin: 1.5rem 0;
            width: 350px;
            position: relative;

            &:hover {
                opacity: 0.8;
                background-color: ($violet-clair);

                i {
                    color: ($violet-primaire);
                }
            }

            &:before {
                display: grid;
                align-content: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $violet-primaire;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                color: white;
                counter-increment: compteur-list-fonctionnement;
                content: counter(compteur-list-fonctionnement);
            }

            i {
                padding: 1em;
                color: ($gris-icon);
            }

            p {
                font-weight: bolder;
                font-size: larger;
            }

        }
    }

    /*  Fin section fonctionnement */

    /* Début section Restaurant */
    .lesRestaurants {
        margin: 1.5rem;

        h2 {
            font-weight: bolder;
            font-size: 2rem;
        }

    }
}